@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Nunito', sans-serif;
}

.range{
    --range-shdw: #3B82F6;
}

.checkbox:checked, .checkbox[checked="true"], .checkbox[aria-checked="true"] {
    background-repeat: no-repeat;
    animation: checkmark var(--animation-input, 0.2s) ease-out;
    background-color: #3B82F6;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12),
    linear-gradient(-45deg, white 50%, #3B82F6 50.99%);
}